body {
    background-color: #1B1B1B;
    color: #fff;
}

section {
    background-color: #071952;
    border: 5px solid #071952;
    margin: 0 auto;
}

.row-box {
    height: 200px;
    width: 60%;
    display: flex;
}

.row-reverse-box {
    height: 200px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}


.column {
    background-color: #F5F5F5;
    height: 510px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.column-box {
    height: 500px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.column-reverse-box {
    height: 500px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
}


section>div {
    color: white;
    text-align: center;
    height: 200px;
    width: 200px;
}

section :nth-of-type(1) {
    background-color: #8C3333;
}

section :nth-of-type(2) {
    background-color: #A1CCD1
}

section :nth-of-type(3) {
    background-color: #7C9D96
}

section :nth-of-type(4) {
    background-color: #E9B384;
}

section :nth-of-type(5) {
    background-color: #557A46;
}

.text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    margin-left: 23%;
}

div {
    font-size: 1.2em;
    color: #fff;

}

.desc {
    font-size: 0.5em;
    font-weight: 100;
}

h2 {
    text-align: left;
    /* background-color: #A1CCD1; */
}