body {
    background-color: #1B1B1B;
    color: #fff;
}

section {
    background-color: #F4F2DE;
    border: 5px solid #071952;
    margin: 0 auto;
}

section>div {
    color: white;
    text-align: center;
    height: 100px;
    width: 100px;
}

section :nth-of-type(1) {
    background-color: #8C3333;
}

section :nth-of-type(2) {
    background-color: #A1CCD1
}

section :nth-of-type(3) {
    background-color: #7C9D96
}

section :nth-of-type(4) {
    background-color: #E9B384;
}

section :nth-of-type(5) {
    background-color: #557A46;
}

.text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    margin-left: 22%;
}

div {
    font-size: 1.4em;
}

h2 {
    text-align: left;
    /* background-color: #A1CCD1; */
}

.row {
    height: 400px;
    width: 100%;

}

.normal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
}

.flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}


.flex-end-wrap-reverse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap-reverse;

}

.flex-end-wrap {
    font-size: 0.8em;
    font-weight: 100;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.baseline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}



.column {
    background-color: #F5F5F5;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.column-flex-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-center-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* .column-box {
    height: 500px;
    width: 17.1%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.column-reverse-box {
    height: 500px;
    width: 17.1%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
} */